NUXT_SESSION_PASSWORD=replace-with-at-least-32-random-characters

NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=

NUXT_GITHUB_APP_ID=
NUXT_GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
NUXT_GITHUB_INSTALLATION_ID=
NUXT_GITHUB_DATASET_OWNER=llavon-ime
NUXT_GITHUB_DATASET_REPO=validation-set
